.card-style {
    width: 200px;
    height: 300px;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    margin: 20px;
    position: relative;
    background-color: white;
    margin-bottom: 85px;
}

.cover-art {
    width: 200px;
    height: 250px;
}

.rank {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 7px;
    font-weight: 800;
    font-size: 25px;
    margin: 0px;
    background-color: #DA65AB;
}

.title {
    text-align: center;
    font-family: 'Lucida Console';
    font-weight: 300;
    font-size: 9px;
    margin: 0px;
}

.card-content {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 8px;
}